<po-toolbar p-title="MONITOR DE INTEGRAÇÃO - CONSULTA DE ENC"></po-toolbar>
<div class="cabec" >
    <div class="tipoBusca">
        <form [formGroup]="form">
            <div class="campofiltros" >
                <po-input name="cChave" formControlName="cChave"  style="width: 300px;" p-label="Chave">       </po-input>
                <po-button p-tooltip="Efetuar Busca de ENC" name='btBusca' [p-disabled]="lBotao" style="margin-right: 50px" p-icon="bi bi-zoom-in" p-kind="primary" (p-click)="ChamaObterDadosEsaa068()" p-label="Buscar" ></po-button>
            </div>
        </form>
    </div>
    
    <div class="campofiltrosc">
        <po-button p-tooltip="Baixar Dados no Excel"  p-icon="bi bi-download"  p-label="Baixar Excel"      (p-click)="this.onExportarExcel()" p-kind="primary"> </po-button>
        <po-button p-tooltip="Integração ORACLE"      p-icon="bi bi-zoom-in"   p-label="Integração ORACLE" (p-click)="onOracle()" p-danger="true" ></po-button>
        <po-button p-tooltip="Integração TOTVS"       p-icon="bi bi-zoom-in"   p-label="Integração TOTVS"  (p-click)="onTotvs()" p-danger="true"></po-button>
    </div>
  </div>
  
  <div class="grid">
      <!--<po-loading-overlay *ngIf="loadTela===true" [p-text]="labelLoadTela" [p-screen-lock]="true"></po-loading-overlay>-->
      <!--<p style="font-size: 20px; font-weight: bold"><po-divider p-label="DADOS IMPORTADOS DO ARQUIVO"></po-divider></p>-->
      <po-table #ttDadosIntegra
                [p-items]="lista" 
                [p-columns]="colunas"
                [p-striped]="true"
                p-sort="true"
                [p-sort]="true"
                [p-hide-table-search]="false"
                [p-hide-columns-manager]="true"
                p-container="true"
                [p-literals]="customLiterals"
                [p-single-select]="true"
                [p-selectable]="true"
                (p-selected)="onChangeOptions($event)"
                [p-height]="alturaGrid"
                [p-loading]="loadTela"
                >
                <!--
                (p-show-more)="loadMoreItens()"
                [p-show-more-disabled]="disableShowMore" 
                -->            
        <ng-template p-table-cell-template let-column="column" let-row="row">
            @if(column.property === 'opcao'){
                <div class="menuGrid">
                <div><button class="btn"  (click)="onAlterarGrid(row)"><p><i class="bi bi-eraser-fill"></i></p></button></div>
                </div>
            }
        </ng-template>
        </po-table>
        
  </div>

  <po-modal #telaAltera p-title="Altere os Dados do Item"
                              p-size="auto" 
                              p-click-out="false" 
                              [p-hide-close]="true"
                              [p-primary-action]="acaoAlterarLinha" 
                              [p-secondary-action]="acaoCancelarLinha">
      <!--
      <form [formGroup]="formAltera">
        <div class="po-md-6">
            <po-number name="PesoBruto"   formControlName="PesoBruto"   p-label="Peso Bruto"   p-step="1" [p-min]="0"></po-number>
            <po-number name="PesoLiquido" formControlName="PesoLiquido" p-label="Peso Líquido" p-step="1" [p-min]="0"></po-number>
            <po-number name="Altura"      formControlName="Altura"      p-label="Altura"       p-step="1" [p-min]="0"></po-number>
            <po-number name="Largura"     formControlName="Largura"     p-label="Largura"      p-step="1" [p-min]="0"></po-number>
            <po-number name="Comprimento" formControlName="Comprimento" p-label="Comprimento"  p-step="1" [p-min]="0"></po-number>
        </div>
      </form>
    -->
  </po-modal>